<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='jquery.min.js'></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
    <div class="srodek">
       <h1>Witaj w <%= title %></h1>
       <h4 id="blad">Wypełnij wszystkie pola liczbami!</h4>
       <table class="ustawienia">
            <tr>
                <td>Podaj liczbę elementów w rzędzie:</td>
                <td><input type="text" id="size" class="poleText mojRadius"/></td>
            </tr>
            <tr>
                <td>Podaj liczbę używanych „kolorów”:</td>
                <td><input type="text" id="dim" class="poleText mojRadius"/></td>
            </tr>
            <tr>
                <td>Podaj maksymalną liczbę ruchów (0 oznacza brak ograniczeń):</td>
                <td><input type="text" id="max" class="poleText mojRadius"/></td>
            </tr>
       </table>
        <button id="nowa">Nowa gra</button>
    </div>
    <div id="gra" class="srodek">
    </div>
  </body>
</html>
